<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/layui/css/layui.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        /*tr{*/
        /*text-align: center;*/
        /*}*/
        span{
            color: blue;
            font-family: 楷体;
            font-weight: bold;
        }
    </style>
</head>
<body>

<br>

<table width="90%" align="center">
    <tr>
        <Td rowspan="6" width="50%">
            <img id="picture" style="width:200px;height: 280px">
        </Td>
        <Td>用户名：<span id="username"></span></Td>
    </tr>
    <tr>
        <Td>姓名：<span id="nickname"></span></Td>
    </tr>
    <tr>
        <Td>部门：<span id="departName"></span></Td>
    </tr>
    <tr>
        <Td>性别：<span id="gender"></span></Td>
    </tr>
    <tr>
        <Td>用户状态：<span id="userState"></span></Td>
    </tr>
</table>
</body>
</html>