<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <link type="text/css" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/show/jquery-1.12.4.js}"></script>
</head>
<body>
<br/>
<br/>
<div style="border: 1px red solid;width: 200px;height: 200px;position: absolute;left: 30px">
    <img src="">
</div>
<div style="border: 1px blue solid;width: 300px;height: 300px;position: absolute;left: 260px">
<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
</body>
</html>