<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link type="text/css" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/show/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/personnel/userManage.js}"></script>
</head>
<body>
<div style="padding-top: 20px;padding-left: 20px" align="center">
    <label class="layui-inline">用户ID</label>
    <div class="layui-inline">
        <input class="layui-input" name="username" placeholder="用户ID"
               autocomplete="off"/>
    </div>

    <label class="layui-inline">姓名</label>
    <div class="layui-inline">
        <input class="layui-input" name="nickname" placeholder="姓名"
                 autocomplete="off"/>
    </div>

    <button class="layui-btn" id="search">搜索</button>
    <button class="layui-btn"  id="reset">重置</button>
</div>
<table id="demo" lay-filter="test"></table>
<script type="text/html" id="info">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="info">详情</a>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="add">添加</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>