<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创建请假单</title>
    <link type="text/css" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/js/show/jquery-1.12.4.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<br/>
<h1 style="margin-left: 80px">创建请假单</h1>
<br/>
<form class="layui-form" id="frm">
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">请假人</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input"
            th:value="${session.nickname}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">所属部门</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">开始时间</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">结束时间</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">请假天数</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">请假类型</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required" style="width: 240px"
                   placeholder="请输入消息标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">消息内容</label>
        <div class="layui-input-inline">
             <textarea name="content" required lay-verify="required" placeholder="请输入消息内容"
                       class="layui-textarea" STYLE="width: 400px;height: 100px"></textarea>
        </div>
    </div>
</form>
</body>
</html>