<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>news</title>

    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.5.3/themes/default/easyui.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.5.3/themes/icon.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link th:href="@{/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.css}" rel='stylesheet' />
    <link th:href="@{/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css}" rel='stylesheet' media='print' />

</head>
<body>
<div class="floatLeft"><span class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addNew()">新建</span></div>
<div id="calePan" class="maginTop">
</div>


<!--//新增弹出框-->
<div id="addPan" class="easyui-dialog" title="新建事件" data-options="modal:true,closed:true" style="width: 500px;height: 300px" >
    <!--<form id="addForm">-->
        <div class="formDiv"><label>标题:</label><input type="text" class="easyui-validatebox" name="name" data-options="required:true"><span class="formSpan">*</span></div>
        <div class="formDiv"><label>开始时间:</label><input type="text" class="easyui-datebox" name="time" style="width: 70%;height: 26px" data-options="required:true"><span class="formSpan">*</span></div>
        <div class="formDiv"><label>结束时间:</label><input type="text" class="easyui-datebox" name="time" style="width: 70%;height: 26px" data-options="required:true"><span class="formSpan">*</span></div>
        <div class="formDiv"><label style="top:-33px;position: relative">内容:</label><textarea></textarea></div>
        <div class="forSubmint">
            <button id="ok" class="easyui-linkbutton"  iconCls="icon-ok" >提交</button>
            <button class="easyui-linkbutton" id="cancel" iconCls="icon-redo" >取消</button>
        </div>
    <!--</form>-->
</div>


<script th:src="@{/js/jquery-easyui-1.5.3/jquery.min.js}"></script>
<script th:src="@{/js/jquery-easyui-1.5.3/jquery.easyui.min.js}"></script>
<script th:src="@{/js/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"></script>
<script th:src="@{/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js}"></script>
<script th:src="@{/js/calendar.js}"></script>


</body>
</html>