<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <title>修改个人日程</title>
    <link type="text/css" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/show/jquery-1.12.4.js}"></script>
</head>
<body>
<form class="layui-form"  id="frm" >
    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">创建人</label>
        <div class="layui-input-inline">
            <input type="text" name="userid" required readonly = "readonly" lay-verify="required" style="width: 240px"
                   placeholder="请输入创建人" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label"  style="width: 100px">日程主题</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required  lay-verify="required" style="width: 240px"
                   placeholder="请输入日程主题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">地点</label>
        <div class="layui-input-inline">
            <select name="place" id="place"  lay-verify="required" lay-filter="xmFilter">

            </select>
        </div>

        <label class="layui-form-label"  style="width: 100px">会议类型</label>
        <div class="layui-input-inline">
            <select name="meetingformatid"  id="meetingformat" lay-filter="demo">

            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">开始时间</label>
        <div class="layui-input-inline">
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="date"  lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <label class="layui-form-label"  style="width: 100px">结束时间</label>
        <div class="layui-input-inline">
            <div class="layui-input-inline">
                <input type="text" name="endTime" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"  style="width: 100px">日程描述</label>
        <div class="layui-input-inline">
            <textarea name="miaoshu" placeholder="请输入日程描述"
                      class="layui-textarea" STYLE="width: 570px"></textarea>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="btn" style="width: 100px" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

    <input type="hidden" name="placeid">
    <input type="hidden" name="me">
    <input type="hidden" name="scheduleid">
    <input type="hidden" name="userId">
</form>
</body>
</html>
<script type="text/javascript">
    layui.use(['layer','form','layedit', 'laydate'],function () {
        //定义一个变量，指定layui的弹出层模块
        var layer = layui.layer;
        var $ = layui.$;
        var form=layui.form;
        layedit = layui.layedit;
        laydate = layui.laydate;
        form.render();   //表单渲染，得渲染才会有效果显示出来
        $(document).ready(function () {
            form.render();   //表单渲染，得渲染才会有效果显示出来
        })

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });


        //修改
        $("#btn").click(function () {
            $.ajax({
                url:"/scheduleList/updateScheduleList",
                type:"post",
                data:$("#frm").serialize(),
                success:function () {
                    layer.msg('修改成功');
                    setTimeout(function(){
                        window.parent.location.reload();//让父窗口的数据重新加载
                    },1000)
                }
            })
        })

        //修改时，回显的下拉框
        setTimeout(function(){
            $.ajax({
                url:"/init",
                type:"post",
                dataType:"json",
                success:function (data) {
                    var placeid=$("[name='placeid']").val();
                    var meetingformatid=$("[name='me']").val();
                    $.each(data.meetingformat,function (index,k) {
                        if (k.meetingformatid==meetingformatid){
                            $('#meetingformat').append(new Option(k.meetingformatname,k.meetingformatid,true,true));// 下拉菜单里添加元素
                        } else{
                            $('#meetingformat').append(new Option(k.meetingformatname,k.meetingformatid));// 下拉菜单里添加元素
                        }

                    })
                    $.each(data.place,function (index,k) {
                        if (k.placeid==placeid){
                            $('#place').append(new Option(k.placename,k.placeid,true,true));// 下拉菜单里添加元素
                        } else {
                            $('#place').append(new Option(k.placename,k.placeid));// 下拉菜单里添加元素
                        }
                    })
                    layui.form.render("select");
                }
            })
        },500)
    })
</script>