<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.AttendanceHistoryMapper">

    <select id="getAllInfo" resultType="map">
        SELECT * FROM manualsign m,sys_user u,departinfos d,branchInfo b
        WHERE m.userId=u.id AND u.departId=d.departId AND d.branchId=b.branchId
        <if test="stateTime!='' and stateTime!=null and endTime!='' and endTime!=null">
            and onDutyTime  = #{stateTime}
            and offDutyTime  = #{endTime}
        </if>
        <if test="branchName!='' and branchName!=null">
            and branchName = #{branchName}
        </if>
        <if test="departName!='' and departName!=null">
            and departName = #{departName}
        </if>
    </select>

    <select id="getAllDep" resultType="map">
        SELECT DISTINCT departName  FROM departinfos
    </select>

    <select id="getAllBranch" resultType="map">
        SELECT * FROM branchinfo
    </select>

</mapper>