<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.PrecontractMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Precontract">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="preContractId" jdbcType="INTEGER" property="precontractid" />
    <result column="scheduleId" jdbcType="INTEGER" property="scheduleid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
  </resultMap>
</mapper>