<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="available" jdbcType="INTEGER" property="available" />
  </resultMap>

  <insert id="addSysUserRole" parameterType="map">
    insert into sys_user_role values(null,#{user_id},#{role_id})
  </insert>
</mapper>